
table{
    background-color: rgb(255, 251, 0);
    border: black;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }
  span{
    color: aqua;
  }
  div{
    background-color: rgb(0, 0, 0);
  }